.lite-nav {
  background-repeat: no-repeat; 
  background-image:  
    linear-gradient(to right, $eggshell-20pct, $eggshell-20pct),
    linear-gradient(to right, $white, $white);
  border-bottom: 1px solid $iron;

  > .mobile-nav-button {
    display: none;
  }

  .logo-wrapper, .menu, .search {
    display: inline-block;
    vertical-align: top;
  }

  .logo-wrapper {
    padding: 0.5rem 1rem;

    .logo {
      background: url($logo-asset-path + 'logos/Whiplash-Brandmark-RGB.svg') center center no-repeat transparent;
      background-size: contain;
      height: 2.5rem;
      margin: -0.1875rem auto 0.1875rem;
      width: 2.5rem;
    }
  }

  .menu {
    margin: 0.1875rem 0 0 -0.1875rem;

    a, .submenu-trigger {
      color: $cape-cod;
      display: block;
      padding: 1rem .4rem;
      min-width: 0px;
      text-transform: uppercase;
      white-space: nowrap;
      border-radius: 5px;

      &:hover {
        color: $shark;
        background: $pumice-10-pct;
      }
    }

    .submenu-trigger {
      border: none;
      background-color: transparent;
      position: relative;
      padding: 1rem;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -0.75rem;
        transform: translateY(-50%);
        width: 11px;
        height: 10px;
        background-image: url($asset-path + 'icon-identity-expand.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    li {
      display: inline-block;
    }

    .menu-list {
      padding: 0 2rem;
      margin: 0;

      > li {
        margin-right: 1.5rem;

        > a, > .submenu > button {
          font-size: 0.9rem;
        }
      }

      .sub-menu {
        position: relative;
        z-index: 1;

        > .menu-list {
          background-color: $white;
          border: 1px solid $horizontal-subnav-border;
          border-radius: 2px;
          box-shadow: 0 0 15px $horizontal-subnav-shadow;
          padding: 0;
          position: absolute;
          top: 3rem;
          width: 14rem;

          span {
            color: $cape-cod;
            padding: 1rem;

            &:hover {
              color: $curious;
            }
          }

          > li {
            display: inline-block;
            padding: 0;
            text-transform: capitalize;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .lite-nav {
    text-align: center;

    > .mobile-nav-button {
      display: block;
      left: 0.5rem;
      position: absolute;
      top: 0.2rem;

      &.open .mobile-nav-button-box {
      	.mobile-nav-button-bar {
      	  &:first-child {
      	    transform: translateY(0.575rem) rotate(135deg);
      	  }
      	  &:last-child {
      	    transform: translateY(-0.7rem) rotate(-135deg);
      	  }
      	  &.middle {
      	    opacity: 0;
      	  }
      	}
      }

      .mobile-nav-button-box {
      	height: 3rem;
      	padding: 0.8rem 0.6rem;
      	width: 3rem;

      	.mobile-nav-button-bar {
      	  background-color: $shark;
      	  display: block;
      	  height: 4px;
      	  transform: translateZ(0);
      	  transform-origin: center;
      	  transition: transform .3s cubic-bezier(.465,.183,.153,.946),-webkit-transform .3s cubic-bezier(.465,.183,.153,.946);
      	  width: 100%;
      	  will-change: transform;

      	  &.middle {
      	    margin: 0.4rem 0;
      	    opacity: 1;
      	    transition: opacity 0.3s linear;
      	  }
      	}
      }
    }

    .logo-wrapper {
      background-color: inherit;
      margin: 0 auto;
    }

    .menu {
      background-color: $white;
      display: block;
      height: 100%;
      left: -$nav-width;
      position: fixed;
      text-align: inherit;
      transition: left 0.3s ease-in-out;
      width: $nav-width;
      z-index: 100;
      box-shadow: $dropdown-shadow;
      margin: 0.08rem 0 0 -0.1875rem;
      overflow: scroll;

      .menu-list {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 0;

        li {
          text-align: left;
          padding: 0;
          margin: 0;

          > a {
            padding: 1rem;

            &:hover {
              color: $curious;
            }
          }

          > .sub-menu {
            > a {
              padding: 1rem;

              &:hover {
                color: $curious;
              }
            }

            > .menu-list {
              display: none;
              background-color: $white;
              border: none;
              box-shadow: none;
              padding: 0 1rem 1rem 0;
              width: 13rem;

              a {
                padding: 1rem 1rem 1rem 3rem;
              }
            }
          }
        }
      }

      &.open {
	       left: 0;
      }
    }
  }
}
