.top-menu {
  background-color: $horizontal-nav-bg;

  > .mobile-nav-button {
    display: none;
  }

  .logo-wrapper, .menu, .search {
    display: inline-block;
    vertical-align: top;
  }

  .logo-wrapper {
    background-color: $horizontal-nav-logo-bg;
    padding: 0.5rem 1rem;

    .logo {
      background: url($asset-path + 'logos/geo-logo-white.svg') center center no-repeat transparent;
      background-size: contain;
      height: 2.5rem;
      margin: -0.1875rem auto 0.1875rem;
      width: 2.5rem;
    }
  }

  .menu {
    margin: 0.1875rem 0 0 -0.1875rem;

    a {
      color: $horizontal-nav-text;
      padding-bottom: 1rem;

      &:hover {
        color: $nav-text;
      }
    }

    li {
      display: inline-block;
    }

    .menu-list {
      padding: 0 2rem;

      > li {
        margin-right: 1.5rem;

        > a, > .submenu > a {
          font-size: 0.9rem;
          letter-spacing: 0.04rem;
        }
      }

      .sub-menu {
        position: relative;

        &:hover {
          > .menu-list {
            display: inherit;
          }
        }

        > .menu-list {
          background-color: $horizontal-subnav-bg;
          border: 1px solid $horizontal-subnav-border;
          border-radius: 2px;
          box-shadow: 0 0 15px $horizontal-subnav-shadow;
          padding: 1rem;
          position: absolute;
          top: 2rem;
          width: 14rem;

          a {
            color: $main-text;
            padding-bottom: 0;

            &:hover {
              color: $nav-active-bg;
            }
          }

          > li {
            display: inline-block;
            padding: 0.5rem 1rem;
            text-transform: capitalize;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .top-menu {
    text-align: center;

    > .mobile-nav-button {
      display: block;
      left: 0.5rem;
      position: absolute;
      top: 0.2rem;
      vertical-align: top;

      &.open .mobile-nav-button-box {
      	.mobile-nav-button-bar {
      	  &:first-child {
      	    transform: translateY(0.575rem) rotate(135deg);
      	  }
      	  &:last-child {
      	    transform: translateY(-0.575rem) rotate(-135deg);
      	  }
      	  &.middle {
      	    opacity: 0;
      	  }
      	}
      }

      .mobile-nav-button-box {
      	height: 3rem;
      	padding: 0.8rem 0.7rem;
      	width: 3rem;

      	.mobile-nav-button-bar {
      	  background-color: $mobile-nav-button-bg;
      	  display: block;
      	  height: 1px;
      	  transform: translateZ(0);
      	  transform-origin: center;
      	  transition: transform .3s cubic-bezier(.465,.183,.153,.946),-webkit-transform .3s cubic-bezier(.465,.183,.153,.946);
      	  width: 100%;
      	  will-change: transform;

      	  &.middle {
      	    margin: 0.5rem 0;
      	    opacity: 1;
      	    transition: opacity 0.3s linear;
      	  }
      	}
      }
    }

    .logo-wrapper {
      background-color: inherit;
      margin: 0 auto;
    }

    .menu {
      background-color: $nav-bg;
      display: block;
      height: 100%;
      left: -$nav-width;
      position: fixed;
      text-align: inherit;
      transition: left 0.3s ease-in-out;
      width: $nav-width;
      z-index: 100;

      &.open {
	       left: 0;
      }
    }
  }
}
