.button {
  background-color: $button-bg;
  border: none;
  border-radius: 5px;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8125rem;
  letter-spacing: 0.08rem;
  margin: 0.5rem auto;
  min-width: 11.9375rem;
  outline: 0;
  padding: 1rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s ease-out,border .2s ease-out,color .2s ease-out;
  width: 100%;

  &:hover {
    background-color: $nav-active-bg;
  }

  &.secondary-border {
    background-color: transparent;
    border: 1px solid $button-secondary-bg;
    color: $main-text;

    &:hover {
      background-color: $main-text;
      color: $nav-text;
    }
  }

  &.secondary-dark {
    background-color: $button-dark-bg;
    box-shadow: none;
    color: $button-bg;
    transition: background-color .2s ease-out,box-shadow .2s ease-out,color .2s ease-out;

    &:hover {
      background-color: $button-dark-bg;
      box-shadow: 0 2px 5px 0 $button-dark-shadow;
      color: $nav-active-bg;
    }
  }

  &.text {
    background-color: transparent;
    border: none;
    color: $button-bg;
    letter-spacing: 0.06rem;
    text-transform: capitalize;

    &:hover {
      background-color: transparent;
      border: none;
      color: $nav-active-bg;
    }
  }

  &.loading {
    padding: 0.813rem 0;
  }
}
