span.context-labels {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 55%;

  .add-margin {
    margin-bottom: 5px;

    &:not(:first-child) {
        span {
            margin-left: 5px;
        }
    }
  }

  span.context-label {
    margin: 0 0 5px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    float: right;

    span.context-label {
      display: block;
    }
  }

  @media (max-width: 1023px) {
    margin-bottom: 10px;
    display: block;
  }
}

span.context-label {
  color: $context-label-text;
  background-color: $context-label-background;
  display: inline-block;
  padding: 2px 5px;
  margin: 2px 0 3px 5px;
  border-radius: 2px;
  font-style: normal;

  &.warning {
    background-color: $context-label-warning-background;
  }

  &.important {
    background-color: $context-label-important-background;
  }

  &.success {
    background-color: $context-label-success-background;
  }

  &.caution{
    background-color: $context-label-caution-background;
  }

  &.small {
    font-size: 0.8rem;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}