.dropdown-wrapper {
	position: relative;

	&.open {
		> .dropdown {
			display: block;
		}		
	}
}

.dropdown {
	background: $dropdown-bg;
	border: 1px solid $dropdown-border;
	border-radius: 2px;
	box-shadow: 0 0 15px $dropdown-shadow;
	display: none;
	left: 0;
	max-height: 31.25rem;
	overflow-y: auto;
	position: absolute;
	width: 13.5625rem;
	z-index: 100;

	&.dropdown-down {
		top: 4rem;
	}

	&.dropdown-up {
		bottom: 4rem;
	}

	.dropdown-list {
		list-style: none;
		padding: 1rem;

		li {
			padding: 0.5rem 1rem;
			text-transform: capitalize;
		}
	}
}
