.field {
	position: relative;
	margin: 0;
	max-width: 400px;
	font-size: 0.875rem;
	font-weight: bold;
	letter-spacing: 0.03rem;
	color: $field-text;

	label {
		color: $text-input-label-text;
		display: block;
		font-size: inherit;
		letter-spacing: 0.0125rem;
		padding-bottom: 0.875rem;
		text-transform: capitalize;
	}

  input[type=text],
  input[type=number],
  input[type=password],
  input[type=email],
  input[type=search] {
		-webkit-appearance: none;
		background-color: transparent;
		border: 1px solid $text-input-border;
		border-radius: 1px;
		color: $text-input-text;
		display: block;
		font-size: 1rem;
		letter-spacing: 0.011875rem;
		outline: 0;
		padding: 0.8rem 1rem 0.8rem 1rem;
		transition: none;
		width: 100%;
    	box-sizing: border-box;

		&:hover, &:active {
			border-color: $text-input-active-border;
		}

		&::placeholder {
			color: $text-input-placeholder-text;
			font-weight: normal;
		}

		&:disabled, &.read-only {
			background-color: $text-input-disabled-background;
			border: 1px solid $text-input-disabled-border;
			color: $text-input-disabled-text;
			cursor: not-allowed;
		}
	}

  textarea,
  .formatted_content {
    border: 1px dotted $search-border-bottom;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
  }

  textarea {
	outline: none;
	border-style: solid;
  
	&:hover {
	  border-color: $text-input-active-border;
	}
  
	&:disabled {
	  background-color: $text-input-disabled-background;
	  border-color: $text-input-disabled-border;
	  color: $text-input-disabled-text;
	  cursor: not-allowed;
	}
  }

	&.menu-search {
		&:after {
			background-color: $curious;
			bottom: 0;
			content: "";
			display: inline-block;
			height: 2px;
			left: 0;
			position: absolute;
			width: 0;
			transition: width 150ms ease-out;
		}

		&:hover:after {
			width: 100%;
		}

		input[type=text],
    	input[type=search] {
			border-top: initial;
			border-right: initial;
			border-bottom: 1px dotted $search-border-bottom;
			border-left: initial;
			font-size: 0.9625rem;
		}
	}


	&.search,
	&.menu-search {
		margin-bottom: 1rem;

		input {
			padding: 0.8rem 5rem 0.8rem 3rem !important;
		}

		&:before {
			background: url($asset-path + 'search.svg') center center no-repeat transparent;
			background-size: contain;
			bottom: 0.9rem;
			content: "";
			display: inline-block;
			height: 1.125rem;
			left: 0.75rem;
			position: absolute;
			width: 1.125rem;
			z-index: 1;
		}

		&:after {
			background-color: $wl-info;
		}
	}

	select.whiplash-select,
	.select2-container {
		width: 100% !important;
	}

	select.whiplash-select {
		display: block;
		height: 47px;
		opacity: 0;
	}
	
	&.standard {
		max-width: 400px;

		&.full-width {
		  max-width: none;
		  width: 100%;
		} 

		label {
			padding-bottom: .4rem;
		}
	  
		input {
		  padding: 0.8rem 1rem 0.8rem 1rem;
		}
	  
		input,
		select.whiplash-select,
		.select2-container {
		  min-width: 1px !important;
		}

		select.disabled {
			& + .select2-container {
			  cursor: not-allowed;
		
			  .selection {
				pointer-events: none;
			  }
			  
			  .select2-selection {
				background-color: $white-smoke !important;
			  }
		
			  .select2-selection__arrow {
				display: none;    
			  }
			}
		}
	  
		input,
		textarea {
		  font-weight: normal;
		}
	  
		.inline-toggle {
		  margin-top: 1.8rem;
		  position: relative;
    	  top: -1rem;
		}
	  
		&:nth-child(n+2) {
		  margin-top: 60px;
		}
	  
		a {
		  display: inline-block;
		  margin-top: 5px;
		}

		&.full-width {
			max-width: none;
			width: 100%;
		  }
		
		  .toggle-triggered {
			margin-top: 1rem;
			margin-left: 4.5rem;
		  }
		
		  @media (min-width: 768px) {
			&.half-width-sm {
			  display: inline-block;
			  width: 190px;
			}
		
			&.half-width-sm + &.half-width-sm {
			  margin-left: 16px;
			}
		}
	}
}
