.notification-toast {
  background-color: $banner-success-background;
  border-radius: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  color: $banner-success-text;
  font-family: 'Lato', 'Aller-Light', Helvetica, Arial, sans-serif;
  font-size: .875rem;
  letter-spacing: .04rem;
  -webkit-font-smoothing: antialiased;

  &.pending {
    background-color: $banner-background;
    color: $banner-text;
  }

  &.error {
    background-color: $banner-error-background;
    color: $banner-error-text;
  }
}
