/* Select2 */
.select2 {
  min-width: 250px;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container.select2-container--open .select2-selection, .select2-selection__rendered {
  border-color: $select-input-border;
}

.select2-container.select2-container--focus .select2-selection, .select2-selection__rendered {
  outline: 0;
  border-color: $select-input-active-border;
}

.select2-container--disabled .select2-selection__rendered {
  color: $select-input-disabled-text;
  cursor: not-allowed;
} 

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $select-input-list-option-hover-background !important;
}

.select2-search__field:focus {
  outline: 0;
}

.select2-container--default .select2-selection--single {
  height: 47px !important;

  .select2-selection__rendered {
    padding: 0.8rem 0.5rem 0.8rem 1rem;
    line-height: inherit;
  }

  .select2-selection__arrow {
    height: 100%;
  }

  .select2-selection__placeholder {
    color: $select-input-text;
    font-weight: normal;
  }
}

.select2-container--default .select2-selection--multiple {
  min-height: 47px !important;

  .select2-selection__arrow {
    height: 100%;
  }

  .select2-selection__rendered {
    padding: 0.8rem 1rem 0rem 1rem;
  }

  .select2-selection__choice {
    margin: 0 0.3rem 0.5rem 0rem;
    line-height: inherit;
  }

  .select2-search--inline {
    .select2-search__field {
      margin-top: 0;
    }
    &:only-child {
      .select2-search__field {
        width: 100% !important;
      }
    }
  }
}

.select2-results__message {
  font-size: 14px;
}

.select2-results__option.loading-results {
  font-size: 14px;
}


// OLD SELECT STYLES
.select-wrapper {
  border: 1px solid $select-border;
  border-radius: 2px;
  box-shadow: none;
  display: inline-block;
  height: 2.75rem;
  overflow: hidden;
  position: relative;
  transition: border .15s ease-out,box-shadow .15s ease-out;
  width: 28.125rem;

  &:after {
    background: url($asset-path + 'styles/arrow.svg') no-repeat 50% transparent;
    background-size: contain;
    content: "";
    height: .4rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: .625rem;
    pointer-events: none;
  }

  &:hover {
    border: 1px solid $curious;
    box-shadow: 0 1px 3px 0 $select-hover-shadow;
  }

  &.open {
    border: 1px solid transparent;
    overflow: visible;

    .select-list-wrapper {
      display: inherit;
    }
  }

  .select-selection {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    letter-spacing: .03rem;
    padding-left: 1rem;
    text-transform: capitalize;
    width: 100%;
  }

  .select-list-wrapper {
    animation-duration: .2s;
    background-color: $select-bg;
    border: 1px solid $select-border;
    box-shadow: 2px 2px 30px 0 $select-shadow;
    border-radius: 2px;
    display: none;
    left: 0;
    max-height: 13.75rem;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 11;

    ul {
      display: inline-block;
      list-style: none;
      width: 100%;
    }

    li {
      border-bottom: 1px solid $border;
      cursor: pointer;
      letter-spacing: .03rem;
      margin-left: .625rem;
      margin-right: 1.9375rem;
      padding-bottom: .75rem;
      padding-top: 1.625rem;
      text-transform: capitalize;
      transition: border .15s ease-out,color .15s ease-out;

      &:last-child {
        margin-bottom: 1rem;
      }

      &:hover {
        border-bottom: 1px solid $curious;
        color: $curious;
      }
    }
  }
}
