.toggle {
    display: inline-block;
    height: 1.5rem;
    margin-right: 1rem;
    min-width: 3.5rem;
    width: 3.5rem;

	.toggle-inner {
		background-color: $toggle-bg;
		border-radius: 50px;
		box-shadow: inset 0 1px 1px 0 $toggle-shadow;
		display: block;
		height: 100%;
		position: relative;
		transition: background-color .15s ease-out,background-image .15s ease-out,background-position .15s ease-out,box-shadow .15s ease-out;
		width: 100%;
		z-index: 0;

		&:before {
			background-image: url($asset-path + 'unchecked.svg');
			opacity: 1;
			right: .8rem;
			top: .4rem;
			width: .7rem;
		}

		&:after,&:before {
			display: inline-block;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			height: .7rem;
			position: absolute;
			transition: opacity .1s ease-out;
		}

		&:after {
			background-image: url($asset-path + 'checked.svg');
			opacity: 0;
			left: .8rem;
			top: .35rem;
			width: .9rem;
		}

		.toggle-button {
			background-color: $toggle-btn-bg;
			border-radius: 50%;
			box-shadow: 1px 0 2px 0 $toggle-btn-shadow;
			display: inline-block;
			height: 1.375rem;
			left: 1px;
			top: 1px;
			transform: translateZ(0);
			transition: transform .15s ease-out;
			width: 1.375rem;
			z-index: 10;
		}

		.toggle-button,.toggle-input {
			bottom: 0;
			position: absolute;
		}

		.toggle-input {
			cursor: pointer;
			height: 100%;
			left: 0;
			opacity: 0;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 100;
		}
	}

	&.active {
		.toggle-inner {
			background-color: $toggle-active-background;
			box-shadow: inset 0 1px 1px 0 $toggle-active-shadow;

			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}

			.toggle-button {
				transform: translate3d(2rem,0,0);
			}
		}
	}
}
